.tabela-padrao {
  min-width: max-content;
}

table>.tabela-cabecalho {
	vertical-align: middle;
}

.tabela-cabecalho-tooltip {
    display: flex;
    justify-content: space-evenly;
		align-items: center;
}

.tabela-tooltip {
  height: 21px;
}

.coluna-tabela-formula {
	min-width: 110px;
	max-width: 130px;
}
